@font-face {
    font-family: my-font;
    src: url("assets/ReemKufi-VariableFont_wght.ttf");
}
@font-face {
    font-family: numbers-font;
    src: url("/assets/OldeEnglish.ttf");
}
*{
    --accent-blue: rgb(30, 84, 109);
    --background-color: #d4a373;
}
body {
    font-family: my-font, cursive, serif;
    color: #080505;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./assets/background.jpg);
    background-color: var(--accent-blue);
    background-size: cover;
    backdrop-filter: blur(6px);
}
#container{
    display: grid;
    grid-template-columns: 250px 1fr 200px;
    grid-template-rows: 70px calc(var(--res) * 25px - 69px);
    gap: 5px;
}
#story{
    grid-row: 1 / 3;
    background-color: var(--background-color);
    padding: 5px;
    text-align: right;
    line-height: 20px;
    overflow-y: auto;
    padding-bottom: 10px;
}
#story h2{
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 20px;
}
#timer{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 5px solid var(--background-color);
    background-color: var(--accent-blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    line-height: 5px;
}
#leaderboard{
    background-color: var(--background-color);
    padding: 5px;
    overflow-y: auto;
}
#leaderboard div{
    background-color: var(--accent-blue);
    margin-bottom: 3px;
    display: flex;
    padding-left: 5px;
    align-items: center;
    height: 30px;
    width: calc(100% - 6px);
    overflow: hidden;
}
#leaderboard div span{
    padding-left: 10px;
    color: #ddbea9;
}
#leaderboard-title{
    padding-top: 5px;
    justify-content: center;
}
#grid{
    background-color: var(--background-color);
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(var(--res), 25px);
    grid-template-rows: repeat(var(--res), 25px);
    gap: 0px;
    width: fit-content;
    user-select: none;
    padding: 3px;
    font-family: numbers-font;
    font-size: 23px;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell[data-explored="false"]{
    background-color: #080505;
}
.cell[data-explored="true"]{
    background-color: #d4b19a;
}
.cell[data-explorable="true"]{
    background-color: #b9825c;
    cursor: pointer;
}
#star-img{
    width: 110%;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}